{% extends "layouts/default.njk" %}

{% block content %}
{% include "layouts/menu-categorias.njk" %}
{% include "macros/banner.njk" %}
<section class="container mt-20">
    <div class="flex justify-around mt-10 space-x-10">
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/blazer-low-jumbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Blazer Low `77 Jumbo</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">99,99 €</span>
                    <span class="ml-10">59,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/wearallday.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Wearallday</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">69,99 €</span>
                    <span class="ml-10">41,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/pegasus-turbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Pegasus Turbo Next Nature</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">95,97 €</span>
                    <span class="ml-10">159,99 €</span>
                </div>
            </div>
        </a>
    </div>
    <div class="flex justify-around mt-10 space-x-10">
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/blazer-low-jumbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Blazer Low `77 Jumbo</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">99,99 €</span>
                    <span class="ml-10">59,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/wearallday.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Wearallday</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">69,99 €</span>
                    <span class="ml-10">41,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/pegasus-turbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Pegasus Turbo Next Nature</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">95,97 €</span>
                    <span class="ml-10">159,99 €</span>
                </div>
            </div>
        </a>
    </div>
    <div class="flex justify-around mt-10 space-x-10">
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/blazer-low-jumbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Blazer Low `77 Jumbo</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">99,99 €</span>
                    <span class="ml-10">59,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/wearallday.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Wearallday</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">69,99 €</span>
                    <span class="ml-10">41,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/pegasus-turbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Pegasus Turbo Next Nature</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">95,97 €</span>
                    <span class="ml-10">159,99 €</span>
                </div>
            </div>
        </a>
    </div>
</section>
{% endblock %}