{% extends "layouts/default.njk" %}

{% block content %}
<section class="container flex justify-around p-14">
    <div>
        <a href="">
            <img src="/images/hombre.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-8">HOMBRE</span>
        </a>
    </div>
    <div>
        <a href="">
            <img src="/images/mujer.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-6">MUJER</span>
        </a>
    </div>
    <div>
        <a href="">
            <img src="/images/nino.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-20">NIÑO/A</span>
        </a>
    </div>
</section>

<section class="container">
    <p class="font-bold text-3xl text-center mt-32">MEJORES OFERTAS</p>
    <div class="flex justify-around mt-10 space-x-10">
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/blazer-low-jumbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Blazer Low `77 Jumbo</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">99,99 €</span>
                    <span class="ml-10">59,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/wearallday.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Wearallday</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">69,99 €</span>
                    <span class="ml-10">41,97 €</span>
                </div>
            </div>
        </a>
        <a href="" class="bg-[#f5f5f5] rounded-lg">
            <img src="/images/pegasus-turbo.png" class="rounded-lg" alt="">
            <div class="p-5">
                <p class="text-lg">Nike Pegasus Turbo Next Nature</p>
                <div class="flex text-lg mt-3">
                    <span class="text-gray-500 line-through">95,97 €</span>
                    <span class="ml-10">159,99 €</span>
                </div>
            </div>
        </a>
    </div>
</section>
{% endblock %}


    
