{% extends "layouts/default.njk" %}

{% block content %}
<section class="container flex justify-around p-14">
    <div>
        <a href="">
            <img src="/images/hombre.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-8">HOMBRE</span>
        </a>
    </div>
    <div>
        <a href="">
            <img src="/images/mujer.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-6">MUJER</span>
        </a>
    </div>
    <div>
        <a href="">
            <img src="/images/nino.png" class="mb-10" alt="">
            <span class="text-3xl font-bold ml-20">NIÑO/A</span>
        </a>
    </div>
</section>


{% endblock %}


    
