<section class="bg-black text-white p-14 mt-20">
    <div class="flex justify-center">
        <img src="/images/logo-blanco.png" class="" alt="">
    </div>
    <div class="flex justify-around mt-10">
        <div class="flex">
            <span class="font-bold mt-2">Siguenos en nuestras redes</span>
            <a href="">
                <img class="h-10 ml-5" src="/images/tw.png" alt="">
            </a>
            <a href="">
                <img class="h-10 ml-5" src="/images/instagram.png" alt="">
            </a>
        </div>
        <div class="flex">
            <span class="font-bold mt-2">Contacta con nosotros</span>
            <span class="font-bold mt-2 ml-5">twenty.one21@gmail.com</span>
        </div>
    </div>
</section>