<section class="bg-slate-300">
    <div class="flex justify-around px-8 py-2 dropdown-content">
        <a href="/hombre" class= "dropdown-item block hover:bg-red-500">
            <span class="text-lg font-bold">HOMBRE</span>
        </a>
        <a href="/mujer" class= "dropdown-item block hover:bg-red-500">
            <span class="text-lg font-bold">MUJER</span>
        </a>
    </div>
</section>