<section class="bg-slate-300">
    <div class="flex justify-around p-8 ">
        <a href="/hombre">
            <span class="text-lg font-bold">HOMBRE</span>
        </a>
        <a href="/mujer">
            <span class="text-lg font-bold">MUJER</span>
        </a>
    </div>
</section>